@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Me";
}

<!--
    Created by: Koleton Murray
    Mission  - Grade Calculator to MVC
-->

<!-- Info about me and IS -->
<h1>Koleton Murray</h1>
<br />
<img src="img/IMG_0699.jpg" title="Koleton loves hiking!" />
<br /><br />
<p>IS 413 is going to be a great class! I'm really excited to get exposure to C#. Learning a strongly typed language will be good for me in the long run even if it is a bit frustrating. I'm also excited to work within the ASP.NET framework. I think it will be great experience to make me an even more well rounded programmer.</p>
<br />
<h3>My top 3 post-graduation job fields:</h3>
<ul>
    <li>Development</li>
    <li>Analytics</li>
    <li>Secruity</li>
</ul>
<br />